.Male {
	width: 25px;
	background-image: url('../images/male.png');
	background-repeat: no-repeat;
	border: 0 none;
}

.Female {
	width: 25px;
	background-image: url('../images/female.png');
	background-repeat: no-repeat;
	border: 0 none;
}

.layout_fit_margins {
	margin-top: 16px;
	margin-bottom: 16px;
	margin-right: 16px;
	margin-left: 16px;
}